.action-button {
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: 'Shojumaru';
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 3px;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

#start {
    background-color: #333;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

#hard {
    background-color: #C52F30;
    border-bottom: 5px solid black;
    text-shadow: 0px -2px black;
}
#midium {
    background-color: #aeb5c5;
    border-bottom: 5px solid #504e54;
    text-shadow: 0px -2px #504e54;
}

#easy {
    background-color: #F6AE1C;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}


#test {
    background-color: black;
    border-bottom: 5px solid #C52F30;
    text-shadow: 0px -2px #C52F30;
}
